<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/Blog.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
      <script>tinymce.init({ selector:'textarea' });</script>
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper yellow">
                    <a href="http://localhost:8383/Ton%20Thoughts/admin.html#!" class="brand-logo">THE BLOG</a>
                    <ul class="right">
                        <li>
                        <ul id="dropdown2" class="dropdown-content">
                        <li><a href="index.html">HOME<span class="new badge">1</span></a></li>
                        <li><a href="admin.html">ADMIN<span class="badge"></span></a></li>
                        </ul>
                        <a class="btn dropdown-button" href="#!" data-activates="dropdown2">MENU<i class="mdi-navigation-arrow-drop-down right"></i></a>
                </div>
            </nav>
        </header>
     <main>
         <div class="container">
             <div class="row">
                 <h1 class="center-align">MY BLOG</h1>
             </div>
             <div class="row">
                 <div class="col s12 main-container">
                     
                 </div>
             </div>
         </div>
     </main>
        <footer class="page-footer yellow">
            <div class="container">
                <p><a href="#">Back To The Top</a></p>
            </div>
            <div class="footer-copyright yellow
                 ">
                <div class="container">
                   @2016 Cristhian Martinez
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/admin.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="login-template" type="text/x-handlebars-template">
          <div class="col s6">
          <h2 class="center-align">Login</h2>
          <div>
              <form class="col s12 form-signin">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="email" name="email" class="validate">
                          <label for="email">Email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" type="password" name="password" class="validate">
                          <label for="password">password</label>
                      </div>
                  </div>
                  <div class="row" >
                      <div class="col s12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      </script>
      <script id="welcome-template" type="text/x-handlebars-template">
          <h2>Welcome, {{email}}</h2>
          <button class="btn btn-large waves-effect waves light add-blog">Add a new Blog</button>
            <button class="btn btn-large waves-effect waves light logout">Logout</button>
      </script>
      <script id="add-blog-template" type="text/x-handlebars-template">
            <h2>Add a new Blog</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="title">
                      <label for="title">Add Title Here</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <textarea id="content" name="content" class="materialize-textarea"></textarea>
                      <label for="content">Add content Here</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col s12">
                      <p class="right-align">
                          <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                      </p>
                  </div>
              </div>
          </form>
      </div>
      </script>
      
     </body>
   </html>